# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
/.idea
.project
.classpath
.cproject
/.vscode
.settings
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json

# Visual Studio Code
.history/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log

# System Files
.DS_Store
Thumbs.db

# Angular
/.angular
/.cache
/.next
/coverage
/.nyc_output

# End of .gitignore
